/* Media */
@media screen and (max-width: 600px) {
    .promos {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .img-leon {
        @include display(flex);
        width: 100%;
       
    }

    .container-a {
        margin: 10px;
    }

    .container-a li {
        padding: 5px;
    }

    .lion {
        display: flex;
        justify-content: center;
    }

    H1 {
        font-size: 50px;
    }

    a{
        font-size: 20px;
    }

    .footer a {
        font-size: 40px;
    }
} 